# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/
*.pyo
.mypy_cache/
.pytest_cache/
.coverage
*.cover
*.log
*.pot
*.pyc
*.pyd
*.pyo
*.pdb
*.pyo

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env

# IDEs and editors
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db
